{%extends 'base_layout.html'%}

{% load crispy_forms_tags %}

{%block content%}


<div class="container-login">
    <div class="left-login-container">
        {% comment %} includes the left image {% endcomment %}

    </div>
    <div class="right-login-container">
        {% comment %} Includes the content {% endcomment %}

        <h1>Log In</h1>
        <form class="site-form" action="{%url 'accounts:login_patient'%}" method="post">
            {%csrf_token%}
            {{ form|crispy }}
            <input type="submit" id="login-btn" class="btn btn-outline-warning" value="Login">
        </form>
        <h5>Don't have an account? Create an account</h5>
        <a type="button" id="login-btn" class="btn btn-outline-warning btn-lg" href="{%url 'accounts:signup_p'%}">Sign Up</a>
    </div>
</div>
{%endblock%}